<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Calendario{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <!-- Solo los estilos necesarios -->
  {% block extra_css %}{% endblock %}
</head>
<body>
  <main>
    {% block content %}{% endblock %}
  </main>
  {% block extra_js %}{% endblock %}
</body>
</html>
